/*
    - Colour scheme
        - Primary: #0090B8
        - Secondary: #DE7918
        - Normal text: #000000
        - Blue text: #000088
        - Light text: #CDCDCD
        - Github icon hover: #FF88FF
        - Linkedin icon hover: #7777FF
        - Mail icon hover: #FFAA99
        - Languages
            - Background: #DEBCAD
            - Border: #DB4400
        - Frameworks and Libraries
            - Background: #CEE8B5
            - Border: #6EE600
        - Tools
            - Background: #B5BAE8
            - Border: #0118E6
*/

/* Root ***********************************************************************/
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;

    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-weight: 500;

    scroll-behavior: smooth;
}

/* Aside **********************************************************************/
aside {
    position: fixed;
    right: 0;

    height: 100vh;
    padding-right: 10px;

    font-size: 3em;
}

#profile-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100px;
}

.profile-list-item {
    margin: 50px 0px;

    list-style-type: none;

    text-decoration: underline;
}

.profile-list-icon {
    color: black;
    
    transition: color 0.5s linear;
}

#profile-list-github-icon:hover {
    color: #FF88FF;

    transition: color 0.5s linear;
}

#profile-list-linkedin-icon:hover {
    color: #7777FF;

    transition: color 0.5s linear;
}

#profile-list-email-icon:hover {
    color: #FFAA99;
    transition: color 0.5s linear;
}

/* Header *********************************************************************/
header {
    padding-top: 300px;
    padding-left: 210px;
    height: 100vh;
}

#header-author {
    margin: 0;

    color: #000088;
    font-size: 3em;
}

#header-role {
    margin: 0;

    color: #000088;
    font-size: 2em;
}

#header-introduction {
    width: 60vh;

    font-size: 1.5em;
}

.header-expertise {
    color: #DE7918;
}

/* #header-navigation {

} */

#header-navigation-list {
    display: flex;
    flex-direction: row;

    padding: 0;

    list-style-type: none;
}

.header-navigation-list-item {
    border: 2px solid black;
    border-radius: 12px;
    margin: 0 20px 0 0;

    font-weight: 400;

    transition: color 0.5s linear;
    transition: border-color 0.5s linear;
}

.header-navigation-list-item:hover {
    /* border-color: #DEA718; */
    border-color: #0090B8;

    transition: border-color 0.5s linear;
}

.header-navigation-list-item:hover * {
    color: #0090B8;
    /* color: #DEA718; */
    

    transition: color 0.5s linear;
}

.header-navigation-list-item:hover .header-navigation-list-text {
    text-decoration: underline;

    transition: color 0.5s linear;
}

.header-navigation-list-link {
    display: block;

    width: 100%;
    height: 100%;
    padding: 15px 45px;
    
    color: black;
    text-decoration: none;
}

.header-navigation-list-arrow {
    margin-left: 8px;
    width: 10px;
    height: 10px;
}

/* Main Section ***************************************************************/
.main-section {
    margin: 0 auto;
    height: 100vh;
    width: 75vw;
}

.main-section-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 0 auto;
    width: 75vw;
}

.main-section-heading {
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
}

.main-section-group .main-section-heading {
    text-align: left;
}

/* About Me *******************************************************************/
#about {
    padding-right: 100px;
}

#about-content {
    font-weight: 200;
    font-size: 1.5em;
}

.about-paragraph {
    margin-bottom: 60px;
}

/* Skills *********************************************************************/
#skills {

}

#skills-categories {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */

    text-align: left;
}

.skills-category {
    margin-top: 40px;
    width: 80%;
}

.skills-category-icon {
    margin-right: 15px;

    font-size: 0.8em;
}

.skills-category-heading {
    font-size: 2em;
}

.skills-category-list {
    margin: 0;
    padding: 0;

    list-style-type: none;

}

.skills-category-list-item {
    display: inline-block;

    
    margin: 4px 2px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px 15px;

    font-size: 1.2em;
    text-align: center;
}

.skills-languages {
    border: 2px solid #884444;
    
    background-color: #FFEEEE;
}

.skills-frameworks {
    border: 2px solid #448844;
    
    background-color: #EEFFEE;
}

.skills-tools {
    border: 2px solid #444488;
    
    background-color: #EEEEFF;
}

/* Projects *******************************************************************/
#projects {
    
}

#project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */

    /* Remove once more projects are added */
    margin-top: 200px;
}

.project {
    margin: 10px 0;
    /* border: 1px solid black; */
    border-radius: 4px;
    padding: 10px 10px;
    width: 23%;

    box-shadow: 
        0 0 4px #BBBBBB,
        0 0 4px #DDDDDD,
        0 0 4px #FFFFFF;
    

    text-align: center;

    transition: box-shadow 0.5s linear;
}

.project:hover {
    box-shadow:
        0 0 4px #DE7918,
        0 0 4px #DE7918,
        0 0 4px #DE7918;

    transition: box-shadow 0.5s linear;
}

.project-heading {
    margin: 0 0 20px 0;

    font-size: 2em;
}

.project-image {
    display: block;

    margin: 0 auto 20px;
    border: 2px solid black;
    border-radius: 4px;
    width: 240px;
    height: 135px;
}

.project-technology-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;

    margin: 0 0 15px 0;
    padding: 0;

    font-size: 1.2em;
    font-weight: 300;
}

.project-technology-list-item {

}

/* Experience *****************************************************************/

/* Footer *********************************************************************/
footer {
    margin: 0 auto;
    width: 75vw;

    font-size: 1.2em;
    font-weight: 200;
    text-align: left;
}

#external-technologies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-bottom: 1px solid #CDCDCD;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.external-technologies-list {
    list-style-type: none;
}

.external-technologies-list-item {
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.external-technologies-list-item:hover {
    text-decoration: underline;
}

.external-technologies-list-heading {
    margin-bottom: 30px;

    font-weight: 600;
    
    cursor: initial;
}

.external-technologies-list-heading:hover {
    text-decoration: none;
}

#external-links {
    
}

#external-links-left {
    justify-content: left;
}

#external-links-right {
    justify-content: right;

    color: #CDCDCD;
}

.external-links-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.external-links-icon {
    display: block;
}

#copyright {
    text-align: center;
}
