/*
    - Colour scheme
        - Primary: #0090B8
        - Secondary: #DE7918
        - Normal text: #000000
        - Blue text: #000088
    - Highlight specialisations in #portfolio-introduction
    - Insert arrow icons (fontawesome) in .header-navigation-list-item elements
    - Use a different css file for each media screen breakpoint
    - Decide on aside icon hover colours
*/

/* Desktop ********************************************************************/

/* Root */
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;

    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-weight: 500;
}

/* Aside */
aside {
    position: absolute;
    right: 0;

    height: 100vh;

    font-size: 2.5em;
}

#profile-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100px;
}

.profile-list-item {
    margin: 50px 0px;

    list-style-type: none;

    text-decoration: underline;
}

#profile-list-github {
    
}

#profile-list-linkedin {

}

#profile-list-email {

}

.profile-list-icon {

}

/* Header */
header {
    padding-top: 300px;
    padding-left: 210px;
    height: 100vh;
}

#header-author {
    margin: 0;

    color: #000088;
    font-size: 3em;
}

#header-role {
    margin: 0;

    color: #000088;
    font-size: 2em;
}

#header-introduction {
    width: 60vh;

    font-size: 1.5em;
}

.header-expertise {
    color: #DE7918;
}

/* #header-navigation {

} */

#header-navigation-list {
    display: flex;
    flex-direction: row;

    padding: 0;

    list-style-type: none;
}

.header-navigation-list-item {
    border: 2px solid black;
    border-radius: 12px;
    margin: 0 20px 0 0;

    font-weight: 400;

    transition: color 0.5s linear;
    transition: border-color 0.5s linear;
}

.header-navigation-list-item:hover {
    /* border-color: #DEA718; */
    border-color: #0090B8;

    transition: border-color 0.5s linear;
}

.header-navigation-list-item:hover * {
    color: #0090B8;
    /* color: #DEA718; */
    

    transition: color 0.5s linear;
}

.header-navigation-list-item:hover .header-navigation-list-text {
    text-decoration: underline;

    transition: color 0.5s linear;
}

.header-navigation-list-link {
    display: block;

    width: 100%;
    height: 100%;
    padding: 15px 45px;
    
    color: black;
    text-decoration: none;
}

.header-navigation-list-arrow {
    margin-left: 8px;
    width: 10px;
    height: 10px;

}

/* About Me */

/* Skillset */

/* Qualifications and Work Experience */

/* Projects */

/* Laptop *********************************************************************/

/* Mobile *********************************************************************/
